.About {
  margin: 0px auto;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  margin-top: 40px;
  max-width: 1000px;
  position: relative;
  margin-bottom: 40px;
}

.text h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.text p {
  font-size: 14px;
  text-align: center;
  margin: 5px 20px;
  color: #555;
  transition: opacity 0.3s ease;
}

.content {
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  position: relative;
}

.content::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px; /* Adjust this height */
  background: linear-gradient(transparent, #f6f6f6);
  transition: opacity 0.3s ease;
  opacity: 1;
}

.content.show-more::after {
  opacity: 0;
}

.button {
  margin-top: 10px;
  font-size: 14px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #999;
}

.button:hover {
  color: #555;
}
