.education {
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6f6f6;
  }
  
  .education h2 {
    margin-top: 60px;
    font-size: 24px;
  }
  
  .education ul {
    list-style-type: none;
    padding: 0;
  }
  
  .education li {
    margin-bottom: 35px;
  }
  
  .education h3 {
    font-size: 18px;
    margin: 0;
  }
  
  .education p {
    font-size: 14px;
    margin: 5px 0;
    color: #555;
  }
  