.experience {
    padding: 50px;
    border-radius: 8px;
    display: flex; /* Add flexbox */
    flex-direction: column; /* Stack items vertically */
  }
  
  .experience h2 {
    font-size: 28px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .experience ul {
    list-style-type: none;
    padding: 0;
  }
  
  .experience li {
    margin-bottom: 25px;
  }
  
  .experience h3 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #333;
  }
  
  .experience p {
    font-size: 16px;
    margin: 5px 0;
    color: #555;
  }
  