.experience {
    flex-direction: column;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .experience h2 {
    font-size: 24px;
    text-align: center;
    margin-top: 40px;
  }
  
  .experience ul {
    list-style-type: none;
    padding: 0;
  }
  
  .experience li {
    margin-bottom: 35px;
  }
  
  .experience h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .experience p {
    font-size: 14px;
    margin: 5px 0;
    color: #555;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  @media only screen and (max-width: 600px) {
    .experience p {
      max-width: 90%;
    }
  }