.header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 30px;
  position: relative;
}

.header-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
}

.header-text {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header-text h1 {
  font-size: 46px; /* Adjust the size as needed */
  letter-spacing: 1.5px;
  word-spacing: 5px;
  margin: 0;
}

.header-text p {
  margin: 10px 0 0 0;
}

.header-image {
  display: flex;
  align-items: flex-end;
  margin-top: -40px;
}

.header-image img {
  width: 300px; /* Adjust the size as needed */
  border-radius: 0;
  margin-bottom: 0px;
}

.header-logos {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.header-logos a {
  display: inline-block;
}

.header-logos img {
  width: 25px; /* Adjust the size as needed */
  height: 25px; /* Keep the same size for uniformity */
  transition: transform 0.3s ease;
}

.header-logos img:hover {
  transform: scale(1.1);
}
