.header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 30px;
  position: relative;
}

.header-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
}

.header-text {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header-text h1 {
  font-size: 46px; /* Adjust the size as needed */
  letter-spacing: 1.5px;
  word-spacing: 5px;
  margin: 0;
}

.header-text p {
  margin: 10px 0 0 0;
}

.header-image {
  display: flex;
  align-items: flex-end;
  margin-top: -40px;
}

.header-image img {
  width: 300px; /* Adjust the size as needed */
  border-radius: 0;
  margin-bottom: -10px;
}

.header-logos {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.header-logos a {
  display: inline-block;
  width: 30px; /* Adjust the size as needed */
  height: 30px; /* Ensure width and height are the same */
  background-color: #f6f6f6;
  padding: 7px; /* Adjust padding for smaller circles */
  border-radius: 50%; /* Set border-radius to 50% for perfect circle */
  transition: transform 0.4s ease, border 0.4s ease; /* Apply smooth transitions */
}

.header-logos img {
  width: 30px; 
  height: 30px; /* Keep the same size for uniformity */
}

.header-logos a:hover {
  transform: scale(1.1); /* Apply scale transform on hover */
  border: 1px dashed #c3c3c3; /* Change border style on hover */
}

