.navbar {
  padding: 10px 0;
  width: 100%;
  top: 0;
  z-index: 1000;
  background-color: #fff;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0 10px; /* Adjust margin for smaller screens */
}

.navbar a {
  background-color: #fff;
  padding: 5px;
  color: black;
  text-decoration: none;
  margin: 10px 0 0 0;
  transition: border 0.3s ease, transform 0.3s ease;
}

.navbar a:hover {
  border-bottom: 2px solid #333;
  transform: scale(1.1);
}

/* Media Query for smaller screens */
@media only screen and (max-width: 600px) {
  .navbar {
    justify-content: space-between; /* Align items to the start and end */
    padding: 0px; /* Adjust padding for smaller screens */
  }

  .navbar ul {
    flex-direction: column; /* Display items vertically */
    align-items: center; /* Align items to the center */
  }

  .navbar li {
    margin: 5px 0; /* Adjust margin for smaller screens */
  }
}
