.App {
  text-align: center;
}

.container {
  margin: 0 auto;
}

section {
  padding: 60px 0px;
  margin-top: -50px;
}

#header {
  padding: 100px 0px;
  padding-top: 150px;
  margin-bottom: -200px;
}